# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# Bootloader编译产物
Bootloader/Objects/
Bootloader/Listings/
Bootloader/build/

# Word临时文件和Keil个人配置
~$*
*.uvguix.*

# 工具生成的芯片支持包
Bootloader/.pack/